<div class="footer" id="footer" role="contentinfo">
  <div class="footer-inner">
    <div id="footer-nav">
        <ul>
          <li>
            <h4><%= _("Supported by") %></h4>
            <%= link_to 'http://indigotrust.org.uk/2015/03/30/new-grant-rwandan-foi-platform/', :id => 'logo' do %>
              <%= image_tag('indigo-trust-logo.jpg') %>
            <% end %>
          </li>
          <li>
            <ul class="contact">
              <li><%= link_to _("Contact us"), help_contact_path %></li>

              <% unless AlaveteliConfiguration.twitter_username.blank? %>
                <li>
                  <%= link_to "https://twitter.com/#{ AlaveteliConfiguration.twitter_username }" do %>
                    <%= _("Follow us on Twitter") %>
                  <% end %>
                </li>
              <% end %>

              <li><%= link_to _("Like us on Facebook"), 'https://www.facebook.com/SobanukirwaRwanda' %></li>
            </ul>
          </li>

          <li>
            <%= _('Powered by <a href="http://www.alaveteli.org/">Alaveteli</a>') %>

            <h5><%= _("Co-created by")%></h5>

            <%= link_to 'http://www.tumenye.rw', :class => 'footer-logo tumenye' do %>
              <%= image_tag('tumenye-logo.png', :alt => "Tumenye logo") %>
            <% end %>

            <%= link_to 'http://www.odesudi.org', :class => 'footer-logo' do %>
              <%= image_tag('odesudi-logo.png', :alt => "ODESUDI logo") %>
            <% end %>

          </li>
        </ul>
    </div>
  </div>
</div>
