<% @title = "About our API" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1><%=@title %></h1>
  <dl>
    <dt>Introduction</dt>
    <dd>
      <p>Cette page explique la façon dont les programmeurs peuvent faire en sorte que d’autres sites web ou des 
logiciels interagissent avec Sobanukirwa via une "API".</p>

      <p>Sobanukirwa n’a pas encore une API complète, mais nous ajoutons graduellement des outils qui sont similaires
      à une API.</p>
    </dd>

    <dt>Lier les nouvelles requêtes</dt>
    <dd>
      <p>Pour encourager vos utilisateurs à mettre des liens vers un organisme public en particulier, nous 
      proposons des URL avec une forme prédéfinie.
      <%= link_to new_request_to_body_path(:url_name => "minagri") , new_request_to_body_path(:url_name => "minagri") %>.
      Voici les paramètres que vous pouvez ajouter à ces URL, que ce soit dans l’URL ou d’un formulaire.
<ul>
          <li> <strong>title</strong> - résumé par défaut de la nouvelle requête.</li>
          <li> <strong>default_letter</strong> - le texte par défaut du corps de votre lettre. La salutation (Cher...) et 
    la signature (Sincèrement…) en sont les limites </li>
          <li> <strong>body</strong> - en tant qu’alternative à default_letter, cette option choisit le 
          texte par défaut pour la demande, afin que vous puissiez personnaliser la salutation et la signature.</li>
          <li> <strong>tags</strong> - une liste de tags séparés d’une espace, afin que vous puissiez trouver ou lier des 
          requêtes, par exemple openlylocal spending_id:12345. Le deux-points indique qu’il s’agit d’un « machine tag »
      </ul>
    </dd>

    <dt>Flux RSS (Atom pour être précis)</dt>
    <dd>
      <p>Il y a des flux Atom sur la plupart des pages qui listent des demandes d’accès à l’information. Vous pouvez les 
utiliser pour avoir des mises à jour et des liens en format XML. Il y a plusieurs façons de trouver l’URL du flux Atom.
      <ul>
          <li>Rechercher <%= image_tag "feed-16.png", :alt => "RSS icon" %> pour les liens.</li>
          <li>Examiner le tag<code>&lt;link rel="alternate" type="application/atom+xml"&gt;</code> en tête du HTML. 
            
          </li>
          <li>Ajouter<code>/feed</code>au début d’un autre URL.      </ul>

      <p>
      Même les recherches compliquées ont des flux Atom. Vous pouvez les utiliser de plusieurs façons différentes, comme une 
recherche par type de fichier, par date ou par statut.
      Voir <a href="<%= advanced_search_path %>"> pour des recherches avanceés</a>et details.
    </dd>

    <dt>Données JSON</dt>
    <dd>
      <p>Plusieurs pages ont des versions JSON qui vous permettent de télécharger de l’information au sujet d’objets dans un 
formulaire. Vous pouvez les trouver en:
      </p>
      <ul>
          <li>Ajoutant<code>.json</code> à la fin de l’URL. </li>
          <li>Recherchant le tag<code>&lt;link rel="alternate" type="application/json"&gt;</code> au début du HTML.</li>
      </ul>

      <p>Les demandes, les utilisateurs et les autorités ont toutes des versions JSON qui contiennent l’information de base
      à leur sujet. Chaque flux Atom a un équivalent JSON qui contient l’information au sujet de la liste des événements du 
      flux.
      </p>
    </dd>

    <dt>Tableau de tous les organismes</dt>
    <dd>
      <p>
      Un fichier de type tableur fait la liste de tous les organismes accessibles à travers Sobanukirwa:
      <%= link_to "all-authorities.csv", all_public_bodies_csv_path %>
      </p>

    </dd>


  <dt> 5. Write API </dt>
  <dd>
      <p>
      The write API is designed to be used by authorities to create their own requests in the system. The API is currently
      used by mySociety's <a href="https://github.com/mysociety/foi-register">FOI Register software</a> to support using 
      Alaveteli as a disclosure log for all FOI activity at a particular public body. More technical information about the 
      write API is available on the <a href="https://github.com/mysociety/alaveteli/wiki/API#write-api">Alaveteli wiki</a>.
      </p>
  </dd>
</dl>

  <p>Merci de nous contacter <a href="<%= help_contact_path %>">contact us</a>si vous avez besoin d’une option API qui n’est 
  pas encore disponible. Nous sommes encore en train de perfectionner l’outil, et il nous fait plaisir d’ajouter ce que l’on
  nous demande. .</p>

  <div id="hash_link_padding"></div>
</div>
