<% @title = "Ibibazo by’umukozi ushinzwe gutanga amakuru" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

  <dl>

  <dt id="top">Nageze hano nturutse ku musozo w’ikibazo cy’ubwisanzure bwo kumenya amakuru, habaye iki? <a href="#top">#</a> </dt>

  <dd><p>Sobanukirwa ni serivisi itangwa n’umuryango utegamiye kuri leta kugirango ufashe abaturage gutanga ibibazo 
  by’ubwisanzure bwo kumenya amakuru, kandi babashe gukurikirana ibisubizo ndetse no kubisangiza abandi mu buryo bworoshye.</p>

  <p>Umuntu watanze ikibazo cy’ubwisanzure bwo kumenya amakuru wohererejwe yakoresheje Sobanukirwa. 
  Ushobora gusubiza icyo kibazo nk’uko wasubiza ikindi kibazo cyose. Itandukaniro rihari ni uko igisubizo 
  uzatanga kizahita gishyirwa ku mugaragaro kuri interineti.</p>
  
  <p>Niba ufite ikibazo cy’ubuzima bwite cyangwa izindi mpungenge, soma ibisubizo biri hano hasi. Ushobora no kuba wasoma <a
  href="<%= help_about_path %>">ijambo ry’ibanze kuri Sobanukirwa</a> kugirango umenye ibyo uru rubuga rukora byanditswe 
  n’umwe mu barukoresha. Ushobora no gushaka umuyobozi ukorera kuri uru rubuga, ukareba n’irangamimerere ry’ibibazo byatanzwe 
  hakoreshejwe uru rubuga.</p>

  <p>Mu gusoza, twakira ibitekerezo n’inyunganizi ziturutse ku bakozi batanga amakuru. Ushobora <a href="<%= help_contact_path %>">kutwandikira</a>.
  </p>
  </dd>

  <dt id="responses">Kubera iki mushyira ahagaragara ibisubizo by’ibibazo by’ubwisanzure bwo kumenya amakuru? <a href="#responses">#</a> </dt>

  <dd>Dutekereza ko hari inyungu nyinshi. Icy’ingenzi cyane ni uko bizatera abaturage umuhate wo gukurikirana no kugira uruhare mu mirimo ya Leta. Tunizerako bizatuma umuyobozi atabazwa ibibazo bimwe inshuro nyinshi. Dukurikije ko ibisubizo ku bibazo by’ubwisanzure bwo kumenya amakuru biba birimo amakuru areba abantu bose, kandi undi muntu uwo ariwe wese ashobora kongera kubaza umuyobozi, dutekereza ko nta mpamvu yatubuza kubishyira ahagaragara. 
  </dd>

  <dt id="realpeople">Ese abantu babaza ibi bibazo babaho? <a href="#realpeople">#</a> </dt>

  <dd>Yego. Kugirango tubashe gukurikirana ibisubizo, dukoresha imeli aderesi zitangwa na computer kuri buri kibazo. Nyamara kandi, mbere y’uko abantu bohereza ibibazo, buri wese agomba kubanza kwiyandikisha ku rubuga akoresheje imeli yihariye dushobora kugenzura. Ushobora gushaka urutonde rw’ibibazo buri muntu yabajije kuri uru rubuga.
  </dd>

  <dt id="email_only">Imeli ntabwo ihagije nka aderesi ku kibazo cy’ubwisanzure bwo kumenya amakuru! <a href="#email_only">#</a> </dt>

  <dd>Yego, irahagije. Itegeko u Rwanda rukoresha ry’ubwisanzure bwo kumenya amakuru ryo mu 2013 rivuga ko amakuru ashobora “gusabwa n’umuntu ku giti cye cyangwa itsinda ry’abantu bakoresheje rumwe mu ndimi zemewe mu Rwanda nk’uko ziri mu itegeko Nshinga ry’u Rwanda. Amakuru ashobora gusabwa mu magambo, mu nyandiko, hakoreshejwe telefoni, interineti cyangwa ubundi buryo bwo kuvugana bitabangamiye iyubahirizwa ry’iri tegeko”.
  </dd>

  <dt id="vexatious">Ese ntabwo mwaba mutanga ibibazo bikomeretsanya? <a href="#vexatious">#</a> </dt>

  <dd><p>Sobanukirwa nta kibazo ibaza. Twohereza ibibazo abantu bakoresha urubuga rwacu babaza, kandi ni abantu babaho babaza ibyo bibazo.
Birebe muri ubu buryo – Niba abantu benshi batandukanye babajije ibibazo bakoresheje imeli zitandukanye za Hotmail, ntabwo wavuga ko Microsoft yabajije ibibazo bikomeretsanya. Nicyo kimwe rero n’uko abantu benshi babaza ibibazo bakoresheje Sobanukirwa. Ikirenzeho, kuba ibibazo byose biba biri ku mugaragaro, byakorohera kureba niba hari umwe mu bakoresha uru rubuga wabajije ibibazo bikomeretsanya. </p>
  </dd>

  <dt id="spam_problems">Hari ikibazo ndi kubona kuri Sobanukirwa, ariko ntitwigeze tukibona kuri imeli!<a href="#spam_problems">#</a> </dt>

  <dd><p>Niba ikibazo kiri ku rubuga, ni ukuvuga ko twagerageje kucyoherereza umuyobozi dukoresheje imeli. Niba cyitarabashije kwoherezwa, ubutumwa bw’uko kitoherejwe bugaragara ku rubuga. Ushobora kugenzura aderesi dukoresha ku muyoboro wa “Reba imeli y’ubwisanzure bwo kumenya amakuru” igaragara kuri paji y’umuyobozi. <a
  href="<%= help_contact_path %>">Twandikire</a> niba hari indi aderesi yindi twakoresha.</p>
  <p>Hari igihe ibibazo bitagenda kuberako byakuweho na ‘muyunguruzi wa sipamu’ zo mu itsinda rya IT ry’umuyobozi. Abayobozi bashobora kwirinda ko ibi biba basaba abo mu itsinda ryabo rya IT “kwemera” imeli yose yoherejwe na <strong>@sobanukirwa.rw</strong>.
  Ni <a href="<%= help_contact_path %>">mubidusaba</a> tuzongera twohereze ikibazo cyose, ndetse/cyangwa tubahe ibindi bisobanuro bya tekinike by’uko twohereje icyo kibazo kugirango itsinda rya IT rishobore gukurikirana aho ubwo butumwa bwaba bwaragiye.
  </p>
  <p>Mu gusoza, ushobora gusubiza ikibazo icyo aricyo cyose ku rubuga udakeneye imeli. Wakoresha ahanditse “Subiza ikibazo” hasi kuri paji ya buri kibazo.</p>
  </dd>

  <dt id="days">Ni gute ubara iminsi ntarengwa igaragara kuri paji z’ibibazo?<a href="#days">#</a> </dt>

  <dd>
  <p>Itegeko ry’ubwisanzure bwo kumenya amakuru rivuga ko:</p>

  <blockquote><p>Umukozi ushinzwe gutanga amakuru azafata umwanzuro ku kibazo cyo gusaba amakuru vuba bishoboka. Nyamara, icyo gihe ntikigomba kurenga iminsi itatu (3) y’akazi uhereye ku munsi yakiriyeho ikibazo .</blockquote>
  
  <p>Nyamara, Igihe gishobora kuba gito hakurikijwe ibi bikurikira:</p>
  
  <p>1° Igihe amakuru yasabwe areba ubuzima cyangwa ubwisanzure bw’umuntu, amakuru agomba gutangwa mu masaha makumyabiri n’ane (24) uhereye igihe bakiriye ikibazo;</p>

  <p>2° Igihe amakuru yasabwe n’umunyamakuru ku mpamvu zo gushaka amakuru, amakuru azatangwa mu minsi ibiri (2) uhereye igihe bakiriye ikibazo.</p>
  
  <p>Niba umukozi ushinzwe gutanga amakuru yifuza kwongererwa igihe, itegeko rivuga ko “umukozi ushinzwe gutanga amakuru azasaba urwego rubishinzwe kwongererwa igihe cyo gutanga amakuru muri rumwe mu ndimi zikoreshwa mu gihugu akayatanga mu magambo, mu nyandiko cyangwa ubundi buryo bwa tekinoloji atabangamiye ibisabwa n’iri tegeko.”
  </p>
  
  <p>Iri tegeko ryuzuye ushobora kurisanga mu <a href="http://www.primature.gov.rw/index.php?eID=tx_mm_bccmsbase_zip&id=803869345476cde5d502d">Igazeti ya Leta nomero 10 yo kuwa 11.03.2013</a> 
  ku rubuga rw’ibiro bya Minisitiri w’Intebe.
  </p>
  
  </dd>

  <dt id="days2">Ariko se mu by’ukuri, ni gute ubara iyi minsi?<a href="#days2">#</a> </dt>

  <dd>

  <p>Ushobora kubanza gusoma igisubizo ku kibazo kibanza. Mu mategeko, abayobozi bagomba <strong>guhita basubiza</strong> ibibazo by’ubwisanzure bwo kumenya amakuru. Niba badashoboye guhita basubiza, ni byiza ko bagaragaza impamvu byabagoye basobanura impamvu bari gutinda.
  </p>

  </dd>

  <dt id="large_file">Ni gute nakohereza dosiye nini itakwirwa kuri imeli?<a href="#large_file">#</a> </dt>

  <dd>Aho kugirango wohereze imeli, ushobora guhita usubiza ku rubuga, ukaba wanashyiraho idosiye. Kugirango ubashe kubikora, hitamo “subiza ikibazo” hasi kuri paji y’ikibazo. <a href="<%= help_contact_path %>">Twandikire</a> niba naho itajyaho (tuvuge iri hejuru ya 50Mb).
  </dd>

  <dt id="names">Kubera iki mushyira ku mugaragaro amazina y’abakozi ba Leta n’ibyo banditse muri imeli? <a href="#names">#</a> </dt>

  <dd>Dufata ko ibyo abakozi ba Leta bakora mu gihe bahawe akazi biba bireba abantu bose. Tuzakuraho ibyo yanditse ku bw’impamvu yihariye, reba <a href="<%= help_privacy_path(:anchor => 'takedown') %>">guhindura amategeko</a>.
  </dd>

  <dt id="mobiles">Mujya mushyira ahagaragara imeli cyangwa nimero za telefoni? <a href="#mobiles">#</a> </dt>

  <dd><p>Kugirango twirinde sipamu, duhita dukura imeli nyinshi na zimwe muri nimero za telefoni ku bisubizo. Ushobora <a href="<%= help_contact_path %>">kutwandikira</a> niba hari iyo twasizeho. Ku mpamvu za tekinike, ntabwo buri gihe tuzikura ku mugereka, nko ku madosiye ari muri PDF. </p>
  <p>Niba ushaka kumenya aderesi twakuyeho, <a
    href="<%= help_contact_path %>">twandikire</a>. Rimwe na rimwe, imeli iba ari igice cy’ingenzi cy’igisubizo hanyuma tukayishyira ahagaragara ariko ihishe, iteye nk’igisobanuro.
  </dd>

  <dt id="copyright"><a id="commercial"></a>Ni irihe tegeko ryanyu rigenga uburenganzira bw’umwanditsi ku ma dosiye?<a href="#copyright">#</a> </dt>

  <dd>Itegeko ry’ubwisanzure bwo kumenya amakuru ‘ntiryita ku wasabye’, rero buri wese ku isi 
  ashobora gusaba iyo dosiye kandi agahabwa inyandiko yayo.

  Niba utekereza ko kuba twashyize inyandiko runaka kuri interineti bibangamira uburenganzira bwawe bw’umwanditsi, ushobora <a href="<%= help_contact_path %>">kutwandikira</a> ukadusaba kuyikuraho. Nyamara, kugirango wirinde ko hari abakomeza gusaba iyo nyandiko no kugirango dukomeze gukorana neza, twakugira inama yo kutabikora.
  </dd>

  </dl>

  <p><strong>Niba utarabikora,</strong>, soma <a href="<%= help_about_path %>">ijambo ry’ibanze</a> --&gt;
  <br><strong>Naho ubundi</strong> <a href="<%= help_credits_path %>">kwemeza</a> cyangwa se <a href="<%= help_api_path %>">API z’abakora imbuga</a> --&gt;

  <div id="hash_link_padding"></div>
</div>
