<% @title = "Unhappy about an access to information request?" %>


<% if !@info_request.nil? %>
<h1>Unhappy about the response you got
to your request '<%=request_link(@info_request) %>'?
</h1>
<% else %>
<h1>Unhappy about the response you got?</h1>
<% end %>

<p>If ...</p>

<ul>
<li>You didn't get a reply within three working days</li>
<li>You did not get all of the information that you requested <strong>or</strong></li>
<li>Your request was refused, but without a reason valid under the law</li>
</ul>

<p>... you can</p>

<ol>
<li>Ask for an <strong>internal review</strong> at the public authority.</li>
<li>If that doesn't help, complain to the <strong>Office of the Ombudsman</strong>.</li>
<li>Either way, also <strong>use other means</strong> to answer your question.</li>
</ol>

<h1 id="internal_review">1. Asking for an internal review <a class="hover_a" href="#internal_review">#</a> </h1>

<p>
<% if !@info_request.nil? %>
    <%= link_to "Request an internal review", show_response_no_followup_path(:id => @info_request.id, :incoming_message_id => nil) + "?internal_review=1#followup", :class => 'link_button_green' %> and then write a message asking the authority to review your request.
<% else %>
    At the bottom of the relevant request page on <%= site_name %> choose
    "request an internal review". Then write a message asking for an internal
    review of your request. You may want to include a link to the
    request page, to make it clear which request you are talking about.
<% end %>
</p>

<h1 id="complaining">2. Complaining to the Office of the Ombudsman <a class="hover_a" href="#complaining">#</a> </h1>

<p>If you are still unhappy after the public authority has done their internal review,
then you can complain to the Office of the Ombudsman. To do this read
<a href="http://www.ombudsman.gov.rw/?How-to-complain">How to complain</a>
on the Ombudsman's website.
</p>

<p>To make it easier to send the relevant information to the
Office of the Ombudsman, either
<% if !@info_request.nil? %>
    include a link to your request
    <strong><%=h request_url(@info_request) %></strong>
<% else %>
    include a link to your request on <%= site_name %>
<% end %>
in your complaint or print out the whole page of your request and all attachments.
</p>

<p><%= site_name %> has no special facilities for handling a request at this stage - it
passes into the Ombudsman's system. You can leave annotations on your
request keeping people informed of progress.</p>

<h1 id="other_means">3. Using other means to answer your question <a class="hover_a" href="#other_means">#</a> </h1>

<p>You can try persuing your problem or your research in other ways.

<ul>
<li>Make a <strong>new ATI request</strong> for summary information, or for
documentation relating indirectly to matters in your refused request.
<a href="<%= help_contact_path %>">Ask us for ideas</a> if you're stuck.</li>
<li>If any <strong>other public authorities</strong> or publicly owned companies are involved,
then make ATI requests to them.</li>
<li>Ask <strong>other researchers</strong> who are interested in a similar
issue to yours for ideas. You can sometimes find them by browsing this site;
contact any registered user from their page.</li>
</ul>



